*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:cornsilk;
}
.news{
    text-align: center;
}
.news h1{

    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC; 
    font-size: 40px;
    text-decoration: underline;
    text-align: center;
    text-transform: capitalize;
}
.news p{
    background-color: darkgray;
    color: whitesmoke;
    font-size: 20px;
    margin: 10px 0px;
    padding: 10px;
    text-align:justify;
}
.heading h1{
    text-align: center;
    text-decoration: underline;
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC; 
}
a{
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    font-size: 20px;
}
a:link{
    color: blue;
    font-weight:bold;
}
a:visited{
    color: purple;
}
a:hover{
    text-shadow: 1px 1px 1px;
    color:orange ;

}
a:focus{
   background-color: aqua ;
}
p::first-letter{
    color: greenyellow;
}
p::first-line{
    color: firebrick;
}
.footer{
    margin-top: 400px;
}
.footer h3{
    text-decoration: underline;
    font-style: italic;
}

.header h2{
    text-decoration: underline;
    font-style: italic;
}
