* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: floralwhite;
}

.news {
    text-align: center;
    border: 2px solid red;
    width: 70%;
    border-radius: 20px;
    padding: 20px 30px;
    margin: 10px auto;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}

.news h1 {

    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
    font-size: 40px;
    text-decoration: underline;
    text-align: center;
    text-transform: capitalize;
}

.news p {
    /* background-color: rgb(241, 175, 137); */
    /* color: whitesmoke; */
    font-size: 20px;
    /* margin: 10px 0px; */
    /* padding: 10px; */
    text-align: justify;
    /* border-radius: 10px; */
    /* border: 2px solid black; */
}

.head h1 {
    text-align: center;
    /* text-decoration: underline; */
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
    margin: 5px;
    font-size: 40px;
}

hr {
    height: 2px;
    background-color: black;
}

a,
span {
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    font-size: 20px;
    margin: 20px 0px;
    display: inline-block;
}

a:link {
    color: blue;
    font-weight: bold;
}

a:visited {
    color: purple;
}

a:hover {
    text-shadow: 1px 1px 1px;
    color: orange;

}

a:focus {
    background-color: aqua;
}

.news p::first-letter {
    color: rgb(20, 45, 237);
    font-size: 25px;
}

.news p::first-line {
    color: rgb(213, 45, 45);
}

.footer {
    text-align: center;
}

.footer h3 {
    text-decoration: underline;
    font-style: italic;
}

.header h2 {
    text-decoration: underline;
}

figure img {
    width: 50%;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    margin-bottom: 20px;
    /* border: 2px solid blue; */
    border-radius: 10px;
}

.date {
    text-align: center;
    margin: 0;
    margin-bottom: 30px;
    font-size: 20px;
}